<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Golang Crud MVC - List Patient</title>
  </head>
  <body>
    <div class="container mt-5">
      <h3>Patients</h3>
      <a href="/patient/add" class="btn btn-sm btn-primary">Add Data</a>
      <hr />
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Identity Number</th>
            <th>Gender</th>
            <th>Place of Birth</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{ range .patients}}
          <tr>
            <td>{{ .Fullname }}</td>
            <td>{{ .IdentityNumber }}</td>
            <td>{{ .Gender }}</td>
            <td>{{ .Dob }}</td>
            <td>{{ .Pob }}</td>
            <td>{{ .Address }}</td>
            <td>{{ .Phone }}</td>
            <td>
              <a href="/patient/edit?id={{.Id}}" class="btn btn-sm btn-warning"
                >Edit</a
              >
              <a
                href="/patient/delete?id={{.Id}}"
                onclick="return confirm('Are you sure wants to delete this data?')"
                class="btn btn-sm btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </body>
</html>
